@import 'node_modules/nib/lib/nib/gradients'

@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic|Roboto:400,300,500")
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")

$mainColor = #2A3F42
$gradMid = #2d4245
$greenColor = #B7C22C
$lightBlueColor = #22A8B5
$whiteColor = #fff

reset-html5()

*
  text-decoration none
  font-family "Helvetica", sans-serif
  text-align center

html, body
  width 100%
  height 100%
  //background-color $mainColor
body
  background url('../images/bg.png')

a
  color $greenColor
a:hover
  text-decoration none
  cursor pointer

h1,h2,h3,h4,h5
  font-family 'Ubuntu', sans-serif
  color $mainColor
  font-weight 200
  text-align left

h2
  font-variant small-caps
  font-size 60px
  font-weight 400

.strong
  font-weight 500

hr
  color $mainColor
  border-color $mainColor

hr.dotted
  border-style dashed
  border-spacing 10px 50px

hr.white
  color $whiteColor
  border-color $whiteColor

a, p
  font-family 'Roboto', sans-serif
  text-align left
  font-weight 400
p
  color $mainColor
  font-weight 100

.blue
  color $lightBlueColor
.green
  color $greenColor
.white
  color $whiteColor

.bg-blue
  background $lightBlueColor

.title
  width 90%
  margin 30px auto
  max-width 700px

.navbar.nav
  height auto
  //background linear-gradient(top, $mainColor, $gradMid, $mainColor)
  background $mainColor
  //background linear-gradient(top, $gradMid, $mainColor, $gradMid)
  text-align center
  width 100%
  max-width 100%
  min-height 20px
  border-radius 0px
  margin 0px
  box-shadow 0px -10px 15px rgba(0,0,0,0.1)
  .home-link
    transition display 1s
    img
      height 30px
  .nav-link
    display inline-block
    color $greenColor
    border-right 1px solid $greenColor
    padding 5px 50px
    padding-bottom 11px
    a
      font-size 23px
      font-weight 200
      font-family 'Ubuntu'
      color $whiteColor
      //color $lightBlueColor
      font-variant small-caps
  .nav-link:last-child
    border-right none

.navbar.nav.navbar-fixed-top
  transition box-shadow 1s
  box-shadow 0px 5px 20px rgba(0,0,0,.2)

@media only screen and (max-width: 933px) and (min-width: 813px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 40px
      padding-bottom 11px

@media only screen and (max-width: 812px) and (min-width: 693px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 30px
      padding-bottom 11px

@media only screen and (max-width: 692px) and (min-width: 574px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 20px
      padding-bottom 11px

@media only screen and (max-width: 573px) and (min-width: 500px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 10px
      padding-bottom 11px

@media only screen and (max-width: 500px) and (min-width: 399px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 5px
      padding-bottom 11px

@media only screen and (max-width: 398px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 5px
      padding-bottom 11px
      a
        font-size 16px
    .home-link
      overflow hidden
      height 40px

@media only screen and (max-width: 793px) and (min-width: 693px)
  .navbar.nav
    .nav-link
      padding 5px 40px
      padding-bottom 11px

@media only screen and (max-width: 692px) and (min-width: 494px)
  .navbar.nav
    .nav-link
      padding 5px 20px
      padding-bottom 11px

@media only screen and (max-width: 493px) and (min-width: 504px)
  .navbar.nav
    .nav-link
      padding 5px 16px
      padding-bottom 11px

@media only screen and (max-width: 503px) and (min-width: 394px)
  .navbar.nav
    .nav-link
      padding 5px 7px
      padding-bottom 11px

@media only screen and (max-width: 393px)
  .navbar.nav
    .nav-link
      padding 5px 7px
      padding-bottom 11px
      a
        font-size 18px


#about
  width 100%
  background $mainColor
  margin 0px
  padding 100px 0px
  box-shadow 0px 5px 20px rgba(0,0,0,.2)
  img
    width 75%

#main
  margin-top 0px

#skills
  min-height 500px
  padding 50px 0px
  .skill
    min-height 300px
    h3
      display inline-block
      margin 0
      float left
    .blue
      color $lightBlueColor
    .white
      font-weight 600
    img
      width 100%
      max-height 100px
      margin-bottom 10px

    
@media only screen and (max-width: 768px)
  #skills .skill
    h3
      text-align center
      float none

#products
  background $lightBlueColor
  //background $mainColor
  box-shadow 0px 0px 40px rgba(0,0,0,.4)
  min-height 500px
  padding 50px 0px 130px 0px


#gents
  position relative
  margin 0px auto
  padding 50px 0px 100px 0px
  h3
    font-weight 500
  .body
    line-height 25px
  .gents-img
    max-width 330px
    margin-top 70px

.link
  text-align center
  margin 0px 10px
  width 50px
  height 50px
  display inline-block
  float none
  position relative
  padding 0
  img
    padding 0
    margin 0
    top 0px
    left 0px
    position absolute
    transition opacity .5s
    opacity 1
    width 50px
  img.hover
    opacity 0
.link:hover
  img.hover
    opacity 1
  img:not(.hover)
    opacity 0

#contact
  background $greenColor
  padding 50px 0px 140px 0px
  box-shadow 0px -5px 20px rgba(0,0,0,.2)
  .map
    padding 10px
    background $whiteColor
    img
      width 100%
      max-width 300px

strong
  font-variant small-caps
  font-size 13pt
  color #D1DBBD

i
  font-style italic
