@import 'node_modules/nib/lib/nib'

@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic|Roboto:400,300,500")
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")

$mainColor = #2A3F42
$gradMid = #2d4245
$greenColor = #B7C22C
$lightBlueColor = #22A8B5
$whiteColor = #fff

reset-html5()

*
  text-decoration none
  font-family "Helvetica", sans-serif
  text-align center

html, body
  width 100%
  height 100%
  background url('../images/bg.png')
  //background-color $mainColor

a
  color $greenColor
a:hover
  text-decoration none
  cursor pointer

h1,h2,h3,h4,h5
  font-family 'Ubuntu', sans-serif
  font-weight bold
  color $mainColor
  font-weight 200
  text-align left

h2
  color $mainColor
  font-variant small-caps
  font-size 55px
  font-weight 200

hr
  color $mainColor
  border-color $mainColor

hr.dotted
  border-style dashed
  border-spacing 10px 50px

a, p
  font-family 'Roboto', sans-serif
  text-align left
  font-weight 400
p
  color #000

.blue
  color $lightBlueColor
.green
  color $greenColor
.white
  color $whiteColor

.title
  width 90%
  margin 30px auto
  max-width 700px

.navbar.nav
  height auto
  //background linear-gradient(top, $mainColor, $gradMid, $mainColor)
  background $mainColor
  //background linear-gradient(top, $gradMid, $mainColor, $gradMid)
  text-align center
  width 100%
  max-width 100%
  min-height 20px
  border-radius 0px
  margin 0px
  box-shadow 0px -5px 20px rgba(0,0,0,.2)
  .link
    display inline-block
    color $greenColor
    border-right 1px solid $greenColor
    padding 5px 50px
    padding-bottom 11px
    a
      font-size 20px
      font-weight 700
      color $whiteColor
      //color $lightBlueColor
      font-variant small-caps
  .link:last-child
    border-right none

.navbar.nav.navbar-fixed-top
  transition box-shadow 1s
  box-shadow 0px 5px 20px rgba(0,0,0,.2)

@media only screen and (max-width: 685px) and (min-width: 606px)
  .navbar.nav
    .link
      padding 5px 40px
      padding-bottom 11px

@media only screen and (max-width: 605px) and (min-width: 450px)
  .navbar.nav
    .link
      padding 5px 20px
      padding-bottom 11px

@media only screen and (max-width: 450px) and (min-width: 400px)
  .navbar.nav
    .link
      padding 5px 16px
      padding-bottom 11px

@media only screen and (max-width: 400px)
  .navbar.nav
    .link
      padding 5px 7px
      padding-bottom 11px


#about
  width 100%
  background $mainColor
  margin 0px
  padding 90px 0px
  box-shadow 0px 5px 20px rgba(0,0,0,.2)
  img
    width 75%

#main
  margin-top 0px

#gents
  position relative
  margin 40px auto
  .body
    line-height 25px
  .link
    text-align center
    margin 15px 10px
    width 50px
    display inline-block
    float none
    img
      width 50px
    img.hover
      display none
  .link:hover
    img:not(.hover)
      display none
    img.hover
      display inline-block
  .gents-img
    max-width 330px
    margin-top 70px

#skills
  box-shadow 0px -5px 20px rgba(0,0,0,.2)
  background $lightBlueColor
  min-height 500px
  padding 50px 0px
  .skill
    margin-bottom 80px
    h3
      display inline-block
      margin 0
      float left
    .blue
      color $mainColor
    .white
      font-weight 600
    img
      height 100%
      max-width 200px
      margin-bottom 10px
    
@media only screen and (max-width: 768px)
  #skills .skill
    h3
      text-align center
      float none

strong
  font-variant small-caps
  font-size 13pt
  color #D1DBBD

