@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic|Roboto:400,300,500");
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
* {
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  text-align: center;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: #b7c22c;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #2a3f42;
  font-weight: 700;
  text-align: left;
}
h2 {
  color: #22a8b5;
}
a,
p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
.blue {
  color: #22a8b5;
}
.green {
  color: #b7c22c;
}
.amp {
  margin: 0px 10px;
  color: #fff;
}
.title {
  width: 100%;
  margin: 30px auto;
  max-width: 700px;
}
.navbar.nav {
  height: auto;
  background-color: #2a3f42;
  text-align: center;
  width: 100%;
  max-width: 100%;
  min-height: 20px;
}
.navbar.nav .link {
  display: inline-block;
  color: #b7c22c;
  border-right: 1px solid #b7c22c;
  padding: 5px 40px 11px 40px;
}
.navbar.nav .link a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-variant: small-caps;
}
.navbar.nav .link:last-child {
  border-right: none;
}
#about {
  position: absolute;
  top: 270px;
  left: 0px;
  width: 100%;
  background: #2a3f42;
  margin: 0px;
  padding: 50px 0px;
}
#about img {
  width: 70%;
}
#main {
  margin-top: 300px;
}
#gents {
  position: relative;
  margin-top: 0px;
}
strong {
  font-variant: small-caps;
  font-size: 13pt;
  color: #d1dbbd;
}
