@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic|Roboto:400,300,500");
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
* {
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  text-align: center;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url("../images/bg.png");
}
a {
  color: #b7c22c;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  color: #2a3f42;
  font-weight: 200;
  text-align: left;
}
h2 {
  font-variant: small-caps;
  font-size: 55px;
  font-weight: 200;
}
hr {
  color: #2a3f42;
  border-color: #2a3f42;
}
hr.dotted {
  border-style: dashed;
  border-spacing: 10px 50px;
}
a,
p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 400;
}
p {
  color: #2a3f42;
}
.blue {
  color: #22a8b5;
}
.green {
  color: #b7c22c;
}
.white {
  color: #fff;
}
.title {
  width: 90%;
  margin: 30px auto;
  max-width: 700px;
}
.navbar.nav {
  height: auto;
  background: #2a3f42;
  text-align: center;
  width: 100%;
  max-width: 100%;
  min-height: 20px;
  border-radius: 0px;
  margin: 0px;
  box-shadow: 0px -10px 15px rgba(0,0,0,0.1);
}
.navbar.nav .link {
  display: inline-block;
  color: #b7c22c;
  border-right: 1px solid #b7c22c;
  padding: 5px 50px;
  padding-bottom: 11px;
}
.navbar.nav .link a {
  font-size: 23px;
  font-weight: 200;
  font-family: 'Ubuntu';
  color: #fff;
  font-variant: small-caps;
}
.navbar.nav .link:last-child {
  border-right: none;
}
.navbar.nav.navbar-fixed-top {
  transition: box-shadow 1s;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 685px) and (min-width: 606px) {
  .navbar.nav .link {
    padding: 5px 40px;
    padding-bottom: 11px;
  }
}
@media only screen and (max-width: 605px) and (min-width: 450px) {
  .navbar.nav .link {
    padding: 5px 20px;
    padding-bottom: 11px;
  }
}
@media only screen and (max-width: 450px) and (min-width: 400px) {
  .navbar.nav .link {
    padding: 5px 16px;
    padding-bottom: 11px;
  }
}
@media only screen and (max-width: 400px) {
  .navbar.nav .link {
    padding: 5px 7px;
    padding-bottom: 11px;
  }
}
#about {
  width: 100%;
  background: #2a3f42;
  margin: 0px;
  padding: 100px 0px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
#about img {
  width: 75%;
}
#main {
  margin-top: 0px;
}
#skills {
  min-height: 500px;
  padding: 50px 0px;
}
#skills .skill {
  margin-bottom: 80px;
}
#skills .skill h3 {
  display: inline-block;
  margin: 0;
  float: left;
}
#skills .skill .blue {
  color: #22a8b5;
}
#skills .skill .white {
  font-weight: 600;
}
#skills .skill img {
  width: 100%;
  max-height: 100px;
  margin-bottom: 10px;
}
#skills .skill-row:last-child .skill {
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  #skills .skill h3 {
    text-align: center;
    float: none;
  }
}
#products {
  background: #22a8b5;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  min-height: 500px;
  padding: 50px 0px;
}
#gents {
  position: relative;
  margin: 0px auto;
  padding: 50px 0px;
}
#gents h3 {
  font-weight: 500;
}
#gents .body {
  line-height: 25px;
}
#gents .link {
  text-align: center;
  margin: 15px 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  float: none;
  position: relative;
  padding: 0;
}
#gents .link img {
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 1;
  width: 50px;
}
#gents .link img.hover {
  opacity: 0;
}
#gents .link:hover img.hover {
  opacity: 1;
}
#gents .gents-img {
  max-width: 330px;
  margin-top: 70px;
}
strong {
  font-variant: small-caps;
  font-size: 13pt;
  color: #d1dbbd;
}
