!!!
html
  head
    title Wiley Cousins
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    link(rel='icon', type='image/x-icon', href='./images/fav.gif')
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700,700italic|Adamina' rel='stylesheet' type='text/css'>
  body
    #todo
      h1 Wiley Cousins
      br
      .bio
        p We are not related... just clever
        #dev-links
          a(href='mailto:contact@wileycousins.com', target='blank', title='not so snailish mail')
            #email.dev-link
      br
      //-.content
        //-br
        //-p And here's a few websites I have either made or worked on as part of a small team
        //-br
        //-ul
          //-li
            //-a(target='blank', href='http://hcwiley.com') H. Cole Wiley - Artist Portfolio Website
          //-li
            //-a(target='blank', href='http://intotheabyss.org') Art & Design into the Abyss
          //-li
            //-a(target='blank', href='http://yeswekern.org/global_vision') Global Vision Print Making Promotional Website
          //-li
            //-a(target='blank', href='http://doretax.com') Dor&eacute; Tax
          //-li
            //-a(target='blank', href='http://gallery.art72.org') A Community Gallery
j
