!!!
html
  head
    title Wiley Cousins
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    link(rel='icon', type='image/x-icon', href='./images/fav.gif')
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700,700italic|Adamina' rel='stylesheet' type='text/css'>
  body
    #todo
      img.title(src='/images/title.png', title='Wiley Cousins')
      br
      .nav
        .link
          a(href='#gents') gents
        .link
          a(href='#skills') skills
        .link
          a(href='#products') products
        .link
          a(href='#contact') contact us
      #gents
        .left-col
          h3 Michael Cousins
        .right-col
          p Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. Vestibulum accumsan eros nec magna. Vestibulum vitae dui. Vestibulum nec ligula et lorem consequat ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus eget nisl ut elit porta ullamcorper. Maecenas tincidunt velit quis orci. Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et, porttitor et, varius a, leo.
        .left-col
          h3 H. Cole Wiley
        .right-col
          p Cras sed ante. Phasellus in massa. Curabitur dolor eros, gravida et, hendrerit ac, cursus non, massa. Aliquam lorem. In hac habitasse platea dictumst. Cras eu mauris. Quisque lacus. Donec ipsum. Nullam vitae sem at nunc pharetra ultricies. Vivamus elit eros, ullamcorper a, adipiscing sit amet, porttitor ut, nibh. Maecenas adipiscing mollis massa. Nunc ut dui eget nulla venenatis aliquet. Sed luctus posuere justo. Cras vehicula varius turpis. Vivamus eros metus, tristique sit amet, molestie dignissim, malesuada et, urna.
