extends layout

block extra-head
  script(type="text/javascript", src="//js.stripe.com/v2/")
  script(type='text/javascript')
    Stripe.setPublishableKey('#{stripe_js}')
block content
  #small-business.modal.fade
    .modal-dialog.modal-lg
      .modal-content.pull-left
        .modal-header.bg-blue
          button.white.close(data-dismiss="modal",aria-hidden="true")&times;
          h4.white Small and Emerging Businesses
        .modal-body.col-sm-12.pull-left
          .row
            .col-sm-12
              .col-sm-8.col-sm-offset-2
                strong We'd love to know if you run a small, for-profit business... We partner with <a href='http://gopropeller.org/' target='_blank'>Propeller</a>, an intermediary for <a href='http://www.louisianaeconomicdevelopment.com/' target='_blank'>Louisiana Economic Development</a>, to provide these classes. Learn more about <a href='http://gopropeller.org/grants/growth-opportunity-for-small-and-emerging-businesses-in-new-orleans/' target='_blank'>opportunities to help you grow your business</a> or contact <a href='mailto:jstewart@Gopropeller.org?subject=Growth opportunites with Propeller and LED' target='_blank'>Julia Stewart at Propeller</a> directly with questions.
  #kit-check.modal.fade
    .modal-dialog.modal-lg
      .modal-content.pull-left
        .modal-header.bg-blue
          button.white.close(data-dismiss="modal",aria-hidden="true")&times;
          h4.white Kit Check!
        .modal-body.col-sm-12.pull-left
          .row
            .col-sm-12
              .col-sm-8.col-sm-offset-2
                strong Just so you know... you will need all the tools that are sold in the everything kit.
                br
                br
                strong If you don't have an <a href='https://www.sparkfun.com/products/12640' target='_blank'>Arduino with USB</a>, a <a href='http://www.amazon.com/DT830B-Digital-Voltmeter-Ammeter-Multimeter/dp/B005KGCI0Y' target='_blank'>multimeter</a>, a <a href='https://www.sparkfun.com/products/12615' target='_blank'>breadboard</a>, and <a href='https://www.sparkfun.com/products/8696' target='_blank'>22 AWG wire strippers</a> you should get the everything kit.
                br
                br
                strong If you have some of these things and not others, feel free to purchase them yourself.
  #classes.row.col-md-12
    img(src='/images/classes.png')
  .col-sm-12
    #intro-to-programming.col-sm-12
      br
      br
      .row
        a(href="/classes#intro-to-programming")
          .col-sm-12.text-center
            a(href='https://github.com/wileycousins-edu', target='_blank')
              h2.green checkout our github
              h3.blue for
              h2.green previous classes
            .col-sm-10.col-sm-offset-1
              hr.dotted.green
      .row
        .col-sm-8.col-sm-offset-2
          .visible-xs
            br
            br
        .col-sm-12.text-center
          h4.blue more classes coming soon!
          br
          br
