extends layout

block content
  .row
    br
    br
    br
    br
    br
    br
    .col-sm-12
      h1.text-center so, we messed up....
    .col-sm-12
      br
      hr.dotted
      br
    if error
      p=error
