!!!
html
  head
    -title = title || "Wiley Cousins"
    title=title
    link(rel='icon', type='image/x-icon', href='/images/fav.png')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name='keywords', content='hardware, firmware, software, development, design, new orleans, nola, louisiana, arduino, ARM, raspberry pi, wifi, wireless, sub ghz, embedded, systems, C, c++, cpp, CoffeeScript, 3d printing, cnc, milling, prototyping, production, rapid prototyping, debug, arduino, objective-c, html, css, javascript, coffeescript, node.js, node js, node, cad, computer aided design, mpu, microprocessor, rhino cad, wiley cousins, wiley, cousins, hand made, maker, makers, hackers, hacker, fine wood, fine, products')
    meta(name='description', content='Hardware and software - design and development')
    meta(name='author', content='Wiley Cousins')
    !=css('index')
    !=js('client')
    script(type='text/javascript')
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      if(window.location.hostname.indexOf('wileycousins')  > -1 ){
        ga('create', 'UA-44573905-1', 'wileycousins.com');
        ga('send', 'pageview');
      }
    block extra-head
  body
    #home
      a(href='/')
        img.title(src='/images/title.png', title='Wiley Cousins')
        h1(style='display:none;') Wiley Cousins
    .navbar.nav(role="navigation")
      .nav-link.hidden.home-link
        a(href='/#home')
          img(src='/images/logo.png')
      .nav-link.dropdown
        a(href='#', data-target="#", data-toggle="dropdown")
          | info
          b.caret
        ul(class="dropdown-menu",role="menu")
          li
            a(href='/#skills') about
          li.divider
          li
            a(href='/#products') products
          li.divider
          li
            a(href='/#gents') gents
          li.divider
          li
            a(href='/#partners') partners
      .nav-link
        a(href='/work', data-target="#", data-toggle="dropdown")
          | work
          b.caret
        ul(class="dropdown-menu",role="menu")
          li
            a(href='/work#pcb-design') pcb design
          li.divider
          li
            a(href='/work#cad') cad
          li.divider
          li
            a(href='/work#software') software
      .nav-link
        a(href='/classes', data-target='#', data-toggle='dropdown')
          | classes
          b.caret
        ul(class="dropdown-menu",role="menu")
          li
            a(href='/classes#classes') get clever
          li.divider
          li
            a(href='/classes#intro-to-programming') intro to programming
          li.divider
          li
            a(href='/classes#intro-to-circuits') intro to circuits
          li.divider
          li
            a(href='/classes#gents') instructors
          li.divider
          li
            a(href='/classes#enroll') enroll
      .nav-link
        a(href='#contact') contact
      .nav-link
        a(href='http://blog.wileycousins.com/', target='_blank') blog
    .container-fluid
      block content
    #contact
      .container
        h2.text-center contact
        br
        br
        .col-md-3.col-md-offset-3
          br
          br
          br
          br
          a(href='mailto:dev@wileycousins.com')
            h3.strong.blue.text-center dev@wileycousins.com
        //-.col-md-3.col-md-offset-1.map
          //-a(href='https://maps.google.com/maps?q=1201+Mazant+St,+New+Orleans,+LA&sll=29.966471,-90.033884&hl=en&ie=UTF8&hq=&hnear=1201+Mazant+St,+New+Orleans,+Louisiana+70117&ll=29.966554,-90.034094&spn=0.001764,0.002631&t=m&z=19&vpsrc=0&iwloc=A', target='_blank')
            //-img.img-thumbnail(src='/images/map.png', title='map to address')
        a(href='https://maps.google.com/maps?q=1201+Mazant+St,+New+Orleans,+LA&sll=29.966471,-90.033884&hl=en&ie=UTF8&hq=&hnear=1201+Mazant+St,+New+Orleans,+Louisiana+70117&ll=29.966554,-90.034094&spn=0.001764,0.002631&t=m&z=19&vpsrc=0&iwloc=A', target='_blank')
          #location.col-md-2.col-md-offset-1
            br
            br
            h4.text-center.strong.green located @
            h4.text-center.blue 1201 Mazant
            h4.text-center.blue New Orleans, LA
            h4.text-center.blue 70117
            br
            br
        .col-md-4.col-md-offset-4
          #social-media
            a(href='https://twitter.com/wileycousins', target='_blank')
              #twitter
                img(src='/images/twitter-white.png')
            a(href='https://facebook.com/wileycousins42', target='_blank')
              #facebook
                img(src='/images/facebook-white.png')
