extends basic

block content
  .container
    .col-sm-10.col-sm-offset-1
      h3.blue #{user.name}'s classes
      hr.dotted.blue
    .col-sm-10.col-sm-offset-1
      br
      h4 you've got <span class='strong green'>#{wcclasses.length}</span> classes remaining that have been paid for
      br
