extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2.bg-white
      br
      h1.blue.strong.text-center thanks for your patronage
      h4.blue.text-center you should receive a confirmation email shortly
      p.green.text-center (if not check your spam folder for an email from robot@wileycousins.com)
    .col-sm-10.col-sm-offset-2
      br
      br
      br
