@import url("//fonts.googleapis.com/css?family=Roboto:200,400,600,900")
@import url("//fonts.googleapis.com/css?family=Ubuntu:400,900")
@import url("./bootstrap.css")

$mainColor = #2A3F42
$gradMid = #2d4245
$greenColor = #B7C22C
$lightBlueColor = #22A8B5
$whiteColor = #fff

reset-html5()

*
  text-decoration none
  font-family "Roboto", "Helvetica", sans-serif
  text-align center

html, body
  width 100%
  height 100%
  //background-color $mainColor
body
  background url('../images/bg.png')

a
  color $greenColor
a:hover
  text-decoration none
  cursor pointer
  h4
    color $whiteColor
  p
    color $whiteColor
  *:not(h1):not(h2)
    color $whiteColor

h1,h2,h3,h4,h5
  font-family 'Ubuntu', sans-serif
  color $mainColor
  font-weight 200
  text-align left

h2
  font-variant small-caps
  font-size 60px
  font-weight 400
  @media (-webkit-max-device-pixel-ratio: 1.9)
    font-weight 600

.strong, strong
  font-weight 900

hr
  color $mainColor
  border-color $mainColor

hr.dotted
  border-style dashed
  border-spacing 10px 50px

hr.white
  color $whiteColor
  border-color $whiteColor

a, p
  font-family 'Roboto', sans-serif
  text-align left
  font-weight 400
  @media (-webkit-max-device-pixel-ratio: 1.9)
    font-weight 600
p
  color $mainColor
  font-weight 200
  @media (-webkit-max-device-pixel-ratio: 1.9)
    font-weight 400

.gray
  color $mainColor
  border-color $mainColor
.blue
  color $lightBlueColor
  border-color $lightBlueColor
.blue-hover:hover
  color $lightBlueColor!important
.green
  color $greenColor
  border-color $greenColor
.white
  color $whiteColor
  border-color $whiteColor
  > *
    color $whiteColor
.popover-content
  color $mainColor

.bg-blue
  background $lightBlueColor
  transition background .5s
.bg-gray
  transition background .5s
  background $mainColor

.m0auto
  margin 0 auto

.ptb40
  padding 40px 0px

.thin
  font-weight 200

.heavy
  font-weight 900

.italic
  font-style italic

.tiny
  font-size 12px

.title
  width 90%
  margin 30px auto
  max-width 700px
.navbar.nav
  height auto
  //background linear-gradient(top, $mainColor, $gradMid, $mainColor)
  background $mainColor
  //background linear-gradient(top, $gradMid, $mainColor, $gradMid)
  text-align center
  width 100%
  max-width 100%
  min-height 20px
  border-radius 0px
  margin 0px
  box-shadow 0px -10px 15px rgba(0,0,0,0.1)
  .home-link
    transition display 1s
    img
      height 30px
  .nav-link
    position relative
    left 0px
    display inline-block
    color $greenColor
    border-right 1px solid $greenColor
    padding 5px 50px
    padding-bottom 11px
    color $whiteColor
    a
      font-size 23px
      font-weight 200
      font-family 'Ubuntu'
      font-variant small-caps
      color $whiteColor
      b.caret
        color $whiteColor!important
        border-top-color $whiteColor!important
        border-bottom-color $whiteColor!important
        border-top-width 6px
        border-right-width 6px
        border-left-width 6px
        margin-left 10px
        margin-right -5px
  .nav-link:last-child
    border-right none
  .dropdown-menu
    padding 0px
    margin 0px
    border-radius 0px
    background $mainColor
    >li
      margin 0px
      >a
        padding 7px 9px
      >a:hover, >a:focus
        background $whiteColor!important
        color $lightBlueColor

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
  background $mainColor
  text-decoration none
  color $lightBlueColor

.navbar.nav.navbar-fixed-top
  transition box-shadow 1s
  box-shadow 0px 5px 20px rgba(0,0,0,.2)

@media only screen and (max-width: 950px) and (min-width: 831px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 40px
      padding-bottom 11px

@media only screen and (max-width: 830px) and (min-width: 711px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      padding 5px 30px
      padding-bottom 11px

@media only screen and (max-width: 710px) and (min-width: 591px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      left 15px
      padding 5px 20px
      padding-bottom 11px

@media only screen and (max-width: 590px) and (min-width: 500px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      left 15px
      padding 5px 10px
      padding-bottom 11px

@media only screen and (max-width: 500px) and (min-width: 399px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      left 15px
      padding 5px 10px
      padding-bottom 11px
      a
        font-size 20px
    .home-link
      position absolute
      left 5px
      overflow hidden
      height 43px
      padding-left 0px

@media only screen and (max-width: 398px) and (min-width: 365px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      left 15px
      padding 5px 10px
      padding-bottom 11px
      a
        font-size 16px
    .home-link
      position absolute
      left 5px
      overflow hidden
      height 40px
      padding-left 0px

@media only screen and (max-width: 364px)
  .navbar.nav.navbar-fixed-top
    .nav-link
      left 15px
      padding 5px 7px
      padding-bottom 11px
      a
        font-size 16px
    .home-link
      position absolute
      left 5px
      overflow hidden
      height 40px
      padding-left 0px
      padding-right 0px

@media only screen and (max-width: 823px) and (min-width: 717px)
  .navbar.nav:not(.navbar-fixed-top)
    .nav-link
      padding 5px 40px
      padding-bottom 11px

@media only screen and (max-width: 716px) and (min-width: 524px)
  .navbar.nav:not(.navbar-fixed-top)
    .nav-link
      padding 5px 20px
      padding-bottom 11px

@media only screen and (max-width: 523px) and (min-width: 504px)
  .navbar.nav:not(.navbar-fixed-top)
    .nav-link
      padding 5px 16px
      padding-bottom 11px

@media only screen and (max-width: 503px) and (min-width: 394px)
  .navbar.nav:not(.navbar-fixed-top)
    .nav-link
      padding 5px 7px
      padding-bottom 11px

@media only screen and (max-width: 393px)
  .navbar.nav:not(.navbar-fixed-top)
    .nav-link
      padding 5px 6px
      padding-bottom 11px
      a
        font-size 18px


#about, #classes
  background-image url('../images/banner.jpg')
  width 100%
  background-repeat no-repeat
  background-size 100% auto
  background-position 0px
  margin 0px
  padding 150px 0px
  box-shadow 0px 5px 20px rgba(0,0,0,.2)
  img.main
    width 100%
    margin 0px auto
  img.stacked
    display none
    height 100%
#classes
  background-image url('../images/classes-bg.jpg')
  img
    width 75%
    margin 0px auto
@media (max-width: 880px)
  #classes
    img
      margin-top -10%
      //width 80%
@media (max-width: 640px)
  #about, #classes
    background-size auto 100%
    background-position 30% 0px
    height 400px
    img.main
      display none
    img.stacked
      margin -100px auto 0px auto
      display block


#main
  margin-top 0px

#skills
  min-height 500px
  padding 50px 0px 100px 0px
  .skill
    min-height 300px
    h3
      display inline-block
      margin 0
      float left
    .blue
      color $lightBlueColor
    .white
      font-weight 600
    img
      width 100%
      max-height 100px
      margin-bottom 10px
  .skills-list
    li
      text-align left
      list-style url('/images/li.svg')
      font-weight 200

    
@media only screen and (max-width: 768px)
  #skills .skill
    h3
      text-align center
      float none

#products
  background $lightBlueColor
  //background $mainColor
  box-shadow 0px 0px 40px rgba(0,0,0,.4)
  min-height 500px
  padding 50px 0px 130px 0px


#gents
  position relative
  margin 0px auto
  padding 50px 0px 100px 0px
  h3
    font-weight 400
    @media (-webkit-max-device-pixel-ratio: 1.9)
      font-weight 600
  .body
    line-height 25px
  .gents-img
    max-width 330px
    margin-top 70px

.link
  text-align center
  margin 0px 10px
  width 50px
  height 50px
  display inline-block
  float none
  position relative
  padding 0
  img
    padding 0
    margin 0
    top 0px
    left 0px
    position absolute
    transition opacity .5s
    opacity 1
    width 50px
  img.hover
    opacity 0
.link:hover
  img.hover
    opacity 1
  img:not(.hover)
    opacity 0

#contact
  padding 70px 0px 140px 0px
  box-shadow 0px -5px 20px rgba(0,0,0,.2)
  background url('../images/skillz.jpg')
  background-repeat no-repeat
  background-size 100% auto
  background-position 0px
  *
    text-shadow 1px 1px 5px $mainColor
    font-weight 900
    color #fff
@media (max-width: 991px)
  #contact
    background-size auto 100%
    background-position 50% 0px

.small-caps
  font-variant small-caps

i
  font-style italic

#pcb-design
  width 100%
  background $mainColor
  padding 50px 0px 100px 0px

#software
  width 100%
  background $lightBlueColor
  padding 50px 0px 100px 0px

.no-border
  padding 0px
  margin 0px
  border none
  background none
  border-radius 0px

.radius10
  border-radius 10px
  
.inline
  display inline-block

$partner-height = 150px;
.partner-logo
  height $partner-height
  line-height $partner-height
  text-align center
  img
    vertical-align middle
    max-height 80%
